.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Начальный цвет фона */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
    z-index: 1000; /* Убедитесь, что ваша шапка находится поверх других элементов */
  }
  
  .transparent {
    background-color: rgba(255, 255, 255, 0); /* Прозрачный фон */
  }

section {
    width: 100vh;
    height: 50vh;
}
  